/*#topo{
    min-width: 100px;
    background-color: red;
    color: #fff;
}*/

/*#rodape{
    min-height: 60px;
    background-color: #204d74;
    color: #fff;
    padding-top: 30px;
}*/

/*#conteudo{
    min-width: 450px;
}*/